version: "3.7"

services:

  nginx:
    build: ./vendor/lonecat/docker-unit/nginx
    ports:
      - "127.0.0.1:80:80"
    depends_on:
      - php

  php:
    build: ./vendor/lonecat/docker-unit/php
    environment:
      XDEBUG_CONFIG: "remote_host=host.docker.internal remote_enable=1 extended_info=1"
      PHP_IDE_CONFIG: "serverName=Docker"
    volumes:
      - ./:/app