version: "3.7"

services:

  nginx:
    build: ./docker/nginx
    ports:
      - "80:80"
    volumes:
      - ./app:/app
    depends_on:
      - php

  php:
    build: ./docker/php
    volumes:
      - ./app:/app
      - ./phpMyAdmin:/phpMyAdmin/phpmyadmin
    depends_on:
      - mysql

  mysql:
    build: ./docker/mysql
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: dev
      MYSQL_USER: dev
      MYSQL_PASSWORD: dev
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./mysql/dumps:/dumps
      - ./mysql/initdumps:/docker-entrypoint-initdb.d